body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container, .dashboard-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

input[type="text"],
input[type="password"],
select,
.equipment-item select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button, .equipment-item button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: auto; /* Изменено для кнопок оборудования */
}

button:hover, .equipment-item button:hover {
    opacity: 0.8;
}

/* Стили для элементов оборудования */
.equipment-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.equipment-item.active {
    background-color: #e8f5e9; /* светло-зеленый для активного оборудования */
}

.equipment-item.inactive {
    background-color: #ffebee; /* светло-красный для неактивного оборудования */
}

.equipment-item > span {
    font-size: 16px;
    font-weight: bold;
}

.downtime-container {
    display: none; /* изначально скрыт, отображается при наличии данных */
    padding: 10px;
    margin-top: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.home-button {
    font-size: 24px; /* Увеличение размера шрифта */
    padding: 15px 30px; /* Увеличение отступа для удобства нажатия */
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчёркивание текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругляем углы */
    cursor: pointer; /* Курсор в виде указателя */
    display: inline-block; /* Делаем кнопку блочно-строчным элементом */
    margin-bottom: 20px;
}

.home-button:hover {
    background-color: #45a049; /* Цвет фона кнопки при наведении */
}