body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #d8a47f;
    margin: 0;
    padding: 0;
}

.container, .dashboard-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container, .select-group-container, .user-select-container {
    max-width: 500px; /* Максимальная ширина контейнера */
    margin: 20px auto; /* Центровка контейнера */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Легкая тень для отделения контейнера */
}

label, select, input[type="text"], input[type="password"], .equipment-item select {
    font-size: 24px; /* Устанавливаем размер шрифта 24px */
}

input[type="text"],
input[type="password"],
.equipment-item select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-width: 500px;
}

select {
    padding: 10px; /* Внутренние отступы */
    margin: 10px 0; /* Внешние отступы */
    border: 1px solid #ccc; /* Рамка */
    box-sizing: border-box; /* Учитывает отступы и границы в общей ширине */
    border-radius: 5px; /* Скругленные углы */
}

.user-select-container select {
    width: 300px; 
    max-width: 100%; /* Ограничиваем максимальную ширину */
    display: block; /* Делаем элемент блочным, чтобы он растянулся на всю ширину */
}

.select-group-container select {
    width: 300px; 
    max-width: 100%; /* Ограничиваем максимальную ширину */
    display: block; /* Делаем элемент блочным, чтобы он растянулся на всю ширину */
}


.large-button {
    background-color: #8a9a5b; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    padding: 15px 30px; /* Внутренние отступы */
    margin: 10px 0; /* Внешние отступы */
    border: none; /* Убираем границы */
    cursor: pointer; /* Курсор указателя */
    font-size: 24px; /* Размер шрифта */
    border-radius: 5px; /* Скругляем углы */
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block; /* Делаем ссылку блочно-строчным элементом */
    text-align: center; /* Центрируем текст */
}

.large-button:hover {
    opacity: 0.8; /* Эффект при наведении */
    background-color: #a0b085; /* Изменяем цвет фона при наведении */
}

button, .equipment-item button {
    font-size: 24px;
    background-color: #8a9a5b;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: auto; /* Изменено для кнопок оборудования */
}

button:hover, .equipment-item button:hover {
    opacity: 0.8;
}

/* Стили для элементов оборудования */
.equipment-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.equipment-item.active {
    background-color: #e8f5e9; /* светло-зеленый для активного оборудования */
}

.equipment-item.inactive {
    background-color: #ffebee; /* светло-красный для неактивного оборудования */
}

.equipment-item > span {
    font-size: 24px;
    font-weight: bold;
}

.downtime-container {
    display: none; /* изначально скрыт, отображается при наличии данных */
    padding: 10px;
    margin-top: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.home-button {
    font-size: 24px; /* Увеличение размера шрифта */
    padding: 15px 30px; /* Увеличение отступа для удобства нажатия */
    background-color: #8a9a5b; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчёркивание текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругляем углы */
    cursor: pointer; /* Курсор в виде указателя */
    display: inline-block; /* Делаем кнопку блочно-строчным элементом */
    margin-bottom: 20px;
}

.home-button:hover {
    background-color: #a0b085; /* Цвет фона кнопки при наведении */
}

.error-message {
    color: #D8000C; /* Красный цвет текста */
    background-color: #FFD2D2; /* Светло-красный фон */
    padding: 10px; /* Внутренние отступы */
    margin: 10px 0; /* Внешние отступы сверху и снизу */
    border: 1px solid #D8000C; /* Красная рамка */
    border-radius: 5px; /* Скругление углов рамки */
    text-align: center; /* Выравнивание текста по центру */
}

.simple-keyboard {
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.simple-keyboard .hg-button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.simple-keyboard .hg-button:hover {
    background-color: #e0e0e0;
}

.numeric-keyboard {
    margin: 20px auto;
    border-spacing: 10px; /* Отступы между кнопками */
}

.numeric-keyboard button {
    width: 100px;
    height: 100px;
    font-size: 36px; /* Размер шрифта на кнопках */
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.numeric-keyboard button:hover {
    background-color: #45a049; /* Цвет при наведении */
}


.save-downtime-btn {
    margin-top: 5px;
}

.downtime-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.edit-downtime-btn {
    margin-left: 10px;
}

.downtime-info {
    flex: 1;
}

.equipment-header {
    display: flex;
    align-items: center;
}

.equipment-name {
    margin-right: 20px; /* Отступ справа от названия станка */
    font-weight: bold;
    font-size: 1.5em;
}

.toggle-button,
.downtime-button {
    margin-right: 30px; /* Отступ справа от каждой кнопки */
    margin-left: 30px;
}

.responsible-person {
    margin-left: 50px; /* Отодвинуть на максимальное расстояние от кнопок */
    font-weight: bold;
    font-size: 1.2em;
}

.toggle-equipment {
    margin-right: 30px; /* Отступ справа от каждой кнопки */
    margin-left: 30px;
}