<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css"> <!-- для полной клавиатуры -->
</head>
<body>
    <div class="login-container">
        <h1>Вход в систему</h1>
        <a href="/select-user" class="home-button">На предыдущую страницу</a>
        {% if error_message %}
        <div class="error-message">{{ error_message }}</div>
        {% endif %}
        <form action="/login" method="post">
            <input type="hidden" name="group_id" value="{{group_id}}" />
            <table>
                <tr>
                    <td><label for="username">Табельный номер:</label></td>
                    <td><input type="text" id="username" name="username" value="{{ username }}" required></td>
                </tr>
                <tr>
                    <td><label for="password">Пароль:</label></td>
                    <td><input type="password" id="password" name="password" required></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="large-button">Вход</button>
                    </td>
                </tr>
            </table>
        </form>       
    </div>
    <!-- Таблица для цифровой клавиатуры -->
    <table class="numeric-keyboard">
        <tr>
            <td><button type="button" class="key">1</button></td>
            <td><button type="button" class="key">2</button></td>
            <td><button type="button" class="key">3</button></td>
        </tr>
        <tr>
            <td><button type="button" class="key">4</button></td>
            <td><button type="button" class="key">5</button></td>
            <td><button type="button" class="key">6</button></td>
        </tr>
        <tr>
            <td><button type="button" class="key">7</button></td>
            <td><button type="button" class="key">8</button></td>
            <td><button type="button" class="key">9</button></td>
        </tr>
        <tr>
            <td colspan="2"><button type="button" class="key">0</button></td>
            <td><button type="button" class="key">X</button></td> <!-- X для удаления символов -->
        </tr>
    </table>
    <script>
        let currentInput = document.querySelector("#password"); // По умолчанию фокус на поле пароля

        document.addEventListener("DOMContentLoaded", () => {
            currentInput.focus(); // Устанавливаем фокус на поле пароля при загрузке страницы
        });

        document.querySelector("#username").addEventListener("focus", () => {
            currentInput = document.querySelector("#username");
        });

        document.querySelector("#password").addEventListener("focus", () => {
            currentInput = document.querySelector("#password");
        });

        document.querySelectorAll('.key').forEach(button => {
            button.addEventListener('click', () => {
                const keyValue = button.innerText;

                if (currentInput) {
                    if (keyValue === 'X') {
                        currentInput.value = currentInput.value.slice(0, -1); // Удаление последнего символа
                    } else {
                        currentInput.value += keyValue; // Добавление символа в текущее поле
                    }
                }
            });
        });
    </script>
</body>
</html>
