<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор группы</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Подключение вашего основного CSS файла -->
</head>
<body>
    <div class="select-group-container">
        <h1>Выберите цех</h1>
        <a href="/logout" class="home-button">На предыдущую страницу</a>
        <form action="/set-group" method="post">
            <div class="form-row">
                <label for="group_id">Цех:</label>
                <select name="group_id" id="group_id" required>
                    <option value="" disabled selected>------</option>
                    {% for group in groups %}
                        <option value="{{ group.group_id }}">{{ group.group_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row">
                <button type="submit" class="large-button">Продолжить</button>
            </div>
        </form>
    </div>
</body>
</html>
